.container {
    margin-top: 50px;
}
.leftContainer {
    position: absolute;
    left: 0px;
    width: 50%;
    padding-left: 100px;
    padding-right: 75px;
    
}
.rightContainer {
    position: absolute;
    right: 0px;
    width: 50%;
    padding-left: 50px;
    padding-right: 100px;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: .5px;
}

.h4, h4, .h3, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 900;

}
