body {
    text-align: center;
}

.navbar-light {
    background-color:white;
    height: 60px;
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

form {
    display: inline-block;
    margin-top: 200px;
    border: 1px solid gray;
    padding: 30px;
}

input {
    margin: 10px;
    
}

button {
    margin: 10px;
    border-radius: 5px;
}

.background {
    background-image: url("/assets/images/flag.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}