body,html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: black;
  }
  
  .img1, .img2, .img3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .img1 {
    background-image: url("../../images/img1.jpg");
    min-height: 500px;
  }
  
   .img2 {
    background-image: url("../../images/img2.jpg");
    min-height: 400px;
  }
  
   .img3 {
    background-image: url("../../images/img3.jpg");
    min-height: 600px;
  } 
   
  .section { 
    text-align: center;
    padding: 50px 80px;
  }
  
  .section-light {
    background-color: white;
    color: black;
    font-family: 'Poiret One', cursive;
  }
  
  .section-dark {
    background-color: black;
    color: white;
    font-family: 'Poiret One', cursive;
  }
  
  .ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .border {
    padding: 5px;
    font-weight: 900;
    font-family: 'Poiret One', cursive;
    background: white;
    opacity: .6;
    animation-duration: 2s;
    animation-name: bounceIn;
  }

  .btn-outline-dark {
    margin-top: 50px;
    opacity: .7;
    font-family: 'Poiret One', cursive;
    font: black; 
    font-weight: 900;
    position: absolute;

  }
  @keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

  