/* .jumbotron-fluid {
  position: fixed;
  top: 45%;
  left:25%;
  right:25%;
  padding-top: 15px;
  opacity: .5;
}  doesn't seem like it's been referenced anywhere */


h1 {
  color: red;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
  margin-bottom: 0rem;
  font-family: "Yesteryear";
  text-align: center;
} 
/* h1 styling is being used for photo gallery header */

